.bg-info
  %h1 Datenbank Upload
  = form_tag admin_utilities_db_upload_path, html: {class: "bg-info"},multipart: true do
    = file_field_tag :database_file
    = submit_tag "Import"
%h1 Bewertungs Download

=button_to 'download', admin_utilities_download_rating_list_path
