%h1 Runde

%table
  %thead
    %tr
      %th Rang
      %th
      %th
      %th Wertung
  %tbody
    - @round.dance_teams.sort_by &:current_rank do |dance_team|
      %tr
        %td= dance_team.rank
        - dance_team.dancers.each do |dancer|
          %td= dancer.full_name
        %td= dance_team.rating
