.mistakes
  - unless defined?(hide) && hide == 'T'
    %div
      - %w(T2 T10 T20).each do |mistake|
        = link_to mistake, '#', class: 'btn-warning'
  %div
    - %w(U2 U10 U20).each do |mistake|
      = link_to mistake, '#', class: 'btn-warning'
  %div
    - %w(S2 S10 S20).each do |mistake|
      = link_to mistake, '#', class: 'btn-warning'
  %div
    - %w(V5).each do |mistake|
      = link_to mistake, '#', class: 'btn-warning'
- unless defined?(hide_mistakes_list)
  .mistakes-list
