%div
  %h2 Observer Status:
  - current_dance_round.observers.each do |observer|
    .alert{class: (current_dance_round.dance_ratings.where(user_id: observer.id).all?(&:final?) ? 'alert-success' : 'alert-danger')}
      = observer.full_name
