#wait_for_ending
  %div
    .alert{class: (current_dance_round.observer.rated?(current_dance_round) ? 'alert-success' : 'alert-danger')}
      = current_dance_round.observer.full_name
  %div
    %h2 Tanzwertungen
    - current_dance_round.dance_judges.each do |judge|
      .alert{class: (judge.rated?(current_dance_round) ? 'alert-success' : 'alert-danger')}
        = judge.full_name
  %div
    %h2 Akrobatikwertungen
    - current_dance_round.acrobatics_judges.each do |judge|
      .alert{class: (judge.rated?(current_dance_round) ? 'alert-success' : 'alert-danger')}
        = judge.full_name