%h1 Seite nicht gefunden
%p
  Die Seite, die Sie aufzurufen versucht haben, wurde nicht gefunden. Falls Sie einem Link auf dieser Seite folgten und
  hier landeten, geben Sie bitte Ihrem Administrator bescheid und erklären Sie ihm detailiert, auf welchem Weg Sie hier
  landeten.