.mistakes {
  margin: auto;
  div {
    display: inline-block;
    margin-left: 0.5em;
    a {
      padding: 0.2em;
      @include border-radius(5px);
    }
  }
}

.mistakes-list {
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 0.3em;
  border: 1px solid #000;
  @include border-radius(5px);
  height: 3em;
  div {
    display: inline-block;
    padding: 0.4em;
    margin-right: 0.2em;
    @include border-radius(5px);
  }
}

.rating {
  margin-bottom: 1em;
  height: 2em;
  padding: 0 0.9em;
  div {
    margin: 0;
    display: block;
    float: left;
    padding: 0.25em 0;
    border: 1px solid #555;
    font-size: 90%;
    width: 2em;
    text-align: center;
    background-color: #5cb85c;
  }
  div:hover {
    background-color: #f0ad4e;
  }
  .active {
    background-color: #d9534f;
  }
}

.total {
  display: inline-block;
  padding: 1em 0;
  text-align: center;
  width: 4em;
  font-weight: bold;
  font-size: 150%;
  border: 2px solid #000;
  @include border-radius(10px);
  margin-right: 2em;
}

#wait_for_ending {
  div div {
    display: inline-block;
  }
}

.clearfix {
  clear: both;
}