.mistakes {
  margin: auto;
  div {
    display: inline-block;
    margin-right: 0.5em;
    a {
      padding: 0.2em;
      @include border-radius(5px);
    }
  }
}

.mistakes-list {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.3em;
  border: 1px solid #000;
  @include border-radius(5px);
  height: 3em;
  div {
    display: inline-block;
    padding: 0.4em;
    margin-right: 0.2em;
    @include border-radius(5px);
  }
}

.mistakes-list.disabled {
  div {
    background-color: #333
  }
}

.rating {
  margin-bottom: 0.2em;
  height: 2em;
  padding: 0;
  div {
    margin: 0;
    display: block;
    float: left;
    padding: 0.1em 0;
    border: 1px solid #555;
    font-size: 90%;
    width: 1.72em;
    text-align: center;
    background-color: #777;
  }
  .active {
    background-color: #333;
  }

}

h3 {
  overflow: hidden;
  white-space: nowrap;

}

#dance_teams {
  h3 {

    margin: 0 0 0.3em;

  }
  h4 {
    margin: 0 0 0.2em;
  }

  .enabled .rating {
    div {
      margin: 0;
      display: block;
      float: left;
      border: 1px solid #555;
      font-size: 90%;
      width: 1.72em;
      text-align: center;
      background-color: #5cb85c;
    }
    div:hover {
      background-color: #f0ad4e;
    }
    .active {
      background-color: #d9534f;
    }
  }
}

.edit_dance_round input[type="submit"] {
  float: right;
  z-index: 99;
}

.blue {
  background-color: lightblue;
}

.rose {
  background-color: #FFCCE5;
}

.total {
  display: inline-block;
  padding: 1em 0;
  text-align: center;
  width: 4em;
  font-weight: bold;
  font-size: 150%;
  border: 2px solid #000;
  @include border-radius(10px);
  margin-right: 2em;
}

#judge_statusses {
  div {
    display: inline-block;
    .alert-danger, .alert-info {
      padding-left: 4em;
      background-repeat: no-repeat;
      background-position: left 9px center;
    }
    .alert.alert-danger {
      background-image: url(image_path("icon-loader-danger.gif"));
    }
    .alert.alert-info {
      background-image: url(image_path("icon-loader-info.gif"));
    }
  }
}

.clearfix {
  clear: both;
}

@media screen and (max-width: 979px) {
  #dance_teams {
    .rating, .enabled .rating {
      div {
        width: 2.5em;
      }
    }
  }
}

@media screen and (max-width: $screen-sm) {
  #dance_teams {
    .rating, .enabled .rating {
      div {
        width: 2em;
      }
    }
  }
}

@media screen and (min-width: $screen-lg) {
  #dance_teams {
    h3 {
      margin: 0 0 0.5em;
    }
    h4 {
      margin: 0.3em 0 0.3em;
    }

    .rating, .enabled .rating {
      div {
        width: 2.1em;
        padding: 0.3em 0;
      }
    }
  }

  .mistakes-list {
    margin-bottom: 2em;
  }
}