// Place all the styles related to the beamers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remote_control {
  a {
    margin: 4px;
    font-size: 4em;
    color: black;
    text-align: center;
    width: 100%;
  }
}

