.big_center {
  h1 {
    width: 100%;
    text-align: center;
    font-size: 10em;
    margin: 2em 0;
  }
}


.dance_team_beamer {
  padding-bottom: 3em;
  padding-top: 1em;
  text-align: center;

}
.info_normal {
  font-size: 3em;
  text-align: center;
}
.info_big {
  font-size: 6em;
  text-align: center;
}

.info_small {
  font-size: 2em;
  text-align: center;
}

.red-font {
  color: red;
  text-align: center;
}

.center {
  text-align: center;
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 4em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;


}
.middle {
  padding-top: 20%;
}

table {
  font-size: 2em

}
.active_dance_team {
  font-weight: bold;
  text-align: center;
}

