.big_center {
  h1 {
    width: 100%;
    text-align: center;
    font-size: 10em;
    margin: 2em 0;
  }
}

.row.dance_team {
  .col-sm6 {
    position: relative;
    h1 {
      font-size: 3em;
      width: 100%;
      text-align: center;
    }
    p {
      font-size: 2em;
    }
  }
}

.beamer {

  .dance_team {
    font-size: 3em;
    padding-bottom: 1em;
    padding-top: 1em;
  }
  .red-font {
    color: red;
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 4em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  table {
    font-size: 2em;

  }
}