.big_center {
  h1 {
    width: 100%;
    text-align: center;
    font-size: 10em;
    margin: 2em 0;
  }
}

.row.dance_team {
  .col-sm6 {
    position: relative;
    h1 {
      font-size: 3em;
      width: 100%;
      text-align: center;
    }
    p {
      font-size: 2em;
    }
  }
}

.beamer {
  .dance_team {
    padding-bottom: 3em;
    padding-top: 1em;
    text-align: center;
    .info_normal {
      font-size: 3em;
    }
    .info_big {
      font-size: 6em;
    }
    .info_small {
      font-size: 2em;
    }
  }
  .red-font {
    color: red;
  }

  .center {
    text-align: center;
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 4em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;


  }
  .middle {
    padding-top: 20%;
  }

  table {
    font-size: 2em

  }
  .active_dance_team {
    font-weight: bold;
    text-align: center;
  }

}