// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#loading {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  background-image: url(image_path("loader_gray_128.gif"));
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  div {
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.3;

  }
}